.sidebar {
    position: fixed;
    top: 8%;
}

.nav {
    position: fixed;
}

a {
    color:#c20043;
}

hr {
    background-color: black;
    border-top: 2px double;
}

.circular--portrait {
    display: inline-block;
    position: relative;
    width: 20%;
    height: 20%;
    overflow: hidden;
    border-radius: 50%;
  }
  
  .circular--portrait img {
    width: 100%;
    height: 100%;
    margin-left: 0px;
  }